.DS_Store
*~
/.gradle
/.idea
/swig/.idea
/swig/cmake-build-*
/out
/build

libtorrent4j.iml
libtorrent4j.ipr
libtorrent4j.iws

*.o
/swig/bin
/swig/build
/libtorrent4j*.dylib
/libtorrent4j*.so
/libtorrent4j*.dll

dht_shell.dat
demo/build/
