name: Linux

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  x86_64:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: install packages
        run: |
          sudo apt install libboost-all-dev
          sudo apt install libssl-dev
          sudo apt install ninja-build
      - name: submodules
        run: git submodule update --depth=1 --init --recursive
      - name: cmake
        run: cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -B build -G "Ninja" swig
      - name: build
        run: cmake --build build --config Release --parallel 2
      - name: strip
        run: strip --strip-unneeded -x build/libtorrent4j.so
      - name: dependencies
        run: readelf -d build/libtorrent4j.so
      - name: test
        run: |
          cp build/libtorrent4j.so .
          ./gradlew test --max-workers 4
      - uses: actions/upload-artifact@v2
        with:
          name: libtorrent4j.so
          path: build/libtorrent4j.so
