name: macOS

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  x86_64:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: install packages
        run: |
          brew update
          brew reinstall boost
          brew reinstall openssl@1.1
      - name: submodules
        run: git submodule update --depth=1 --init --recursive
      - name: cmake
        run: cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -B build -G "CodeBlocks - Unix Makefiles" swig
        env:
          OPENSSL_ROOT_DIR: /usr/local/opt/openssl
      - name: build
        run: cmake --build build --config Release --parallel 2
      - name: strip
        run: strip -S -x build/libtorrent4j.dylib
      - name: dependencies
        run: otool -L build/libtorrent4j.dylib
      - name: test
        run: |
          cp build/libtorrent4j.dylib .
          ./gradlew test
      - name: coverage
        if: github.ref == 'refs/heads/master'
        run: ./gradlew codacyCoverage
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
      - uses: actions/upload-artifact@v2
        with:
          name: libtorrent4j.dylib
          path: build/libtorrent4j.dylib
